{%- macro script(script_files) %}
    {%- for scriptfile in script_files %}
    <script type="text/javascript" src="{{ pathto(scriptfile, 1) }}"></script>
    {%- endfor %}
{%- endmacro %}

{%- macro css(css_files) %}
    {%- for cssfile in css_files %}
    <link rel="stylesheet" href="{{ pathto(cssfile, 1) }}" type="text/css" />
    {%- endfor %}
{%- endmacro %}

{# The files that make these builds are defined in Makefile #}
{%- set css_files = ['_static/css/app.css'] -%}
{%- set script_files = ['_static/app.js'] -%}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-85544024-1', 'auto');
      ga('send', 'pageview');

    </script>
    <meta http-equiv="Content-Type" content="text/html; charset={{ encoding }}" />
    {{ metatags }}
    <title>{{ title|striptags|e }}{{ titlesuffix }}</title>
    <link href="{{ pathto('_static/favicon.png', 1) }}" type="image/png" rel="icon" />

    {{ css(css_files) }}
    {{ script(script_files) }}

    {% for lang in languages %}
        {%- if lang != language -%}
            {%- if has_lang(lang, pagename) -%}
            <link rel="alternate" hreflang="{{ lang }}" href="{{ lang_link(lang, pagename) }}" />
            {%- endif -%}
        {%- endif -%}
    {% endfor %}

    <link rel="search" type="application/opensearchdescription+xml" title="Search within {{ docstitle }}" href="{{ pathto('_static/opensearchdescription-book-3-x.xml', 1) }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

{%- block linktags %}
    {%- if hasdoc('about') %}
    <link rel="author" title="{{ _('About these documents') }}" href="{{ pathto('about') }}" />
    {%- endif %}
    {%- if hasdoc('genindex') %}
    <link rel="index" title="{{ _('Index') }}" href="{{ pathto('genindex') }}" />
    {%- endif %}
    {%- if hasdoc('search') %}
    <link rel="search" title="{{ _('Search') }}" href="{{ pathto('search') }}" />
    {%- endif %}
    {%- if hasdoc('copyright') %}
    <link rel="copyright" title="{{ _('Copyright') }}" href="{{ pathto('copyright') }}" />
    {%- endif %}
    <link rel="top" title="{{ docstitle|e }}" href="{{ pathto('index') }}" />
    {%- if parents %}
    <link rel="up" title="{{ parents[-1].title|striptags|e }}" href="{{ parents[-1].link|e }}" />
    {%- endif %}
    {%- if next %}
    <link rel="next" title="{{ next.title|striptags|e }}" href="{{ next.link|e }}" />
    {%- endif %}
    {%- if prev %}
    <link rel="prev" title="{{ prev.title|striptags|e }}" href="{{ prev.link|e }}" />
    {%- endif %}
{%- endblock %}

    <script type="text/javascript">
    window.lang = "{{ language }}";
    </script>
  </head>
  <body>

{%- block header %}
{# Outer wrapper for pushing the footer to the bottom #}
<div id="container">
	{# Red Mega Menu #}
	<header class="nav-down">
		<div class="container-fluid hidden-xs hidden-sm">
			<div class="row">
				<div class="col-sm-3 col-md-3">
					<a class="logo" href="https://docs.ukfast.co.uk/">
						<img src="{{ pathto('_static/ukfast-logo.png', 1) }}" alt="UKFast"  width="224px" height="50px"/>
					</a>
				</div>

				<div class="col-sm-9 col-md-9">
					<nav class="navbar-right">
						<ul class="menu">
							<li>
								<a href="#"><i class="fa fa-menu fa-chevron-down"></i>Help & Support</a>
								<div class="megamenu full">
									<div class="row">
										<div class="col-12 pl30">
											<ul class="megamenu-list">
												{% include 'menu/help.html' %}
											</ul>
										</div>
									</div>
								</div>
							</li>
						</ul>
					</nav>
				</div>
			</div>
		</div>

		{# Mobile responsive header #}
		<div class="container-fluid hidden-md hidden-lg">
			<div class="row">
				<div class="col-sm-6 col-xs-6">
					<a class="logo" href="https://docs.ukfast.co.uk/">
						<img src="{{ pathto('_static/ukfast-logo.png', 1) }}" alt="UKFast" />
					</a>
				</div>

				<div class="col-sm-6 col-xs-6">
					<div class="navbar-right">
						<button id="btn-menu" class="btn-menu" data-toggle="modal" data-target="#modal">
							<i class="fa fa-bars toggle-modal"></i>
						</button>
					</div>
					<div id="wrap">
						<form class="search" action="{{ pathto('search') }}" method="get">
							<input name="q" type="search" placeholder="What are you looking for?">
							<input id="search_submit" value="{{ _('Search') }}" type="submit">
						</form>
					</div>
				</div>
			</div>
		</div>

		{# Grey site bar #}
		<section id="nav-cook" class="hidden-xs hidden-sm">
			<div class="container-fluid ">
				<div class="row ">
					<div class="col-md-12 back-book">
						<div class="col-md-4 text-center t-cook-nav p0 hidden-sm hidden-xs">
							<h2>
								<a href="{{ pathto(master_doc) }}">
									<span class="glyph_range icon-submenu fa fa-book"></span>
									UKFast <strong>Documentation</strong>
								</a>
							</h2>
						</div>

						<div class="col-md-4 hidden-sm">
							<form class="search" action="{{ pathto('search') }}" method="get">
								<input type="hidden" name="check_keywords" value="yes" />
								<input type="hidden" name="area" value="default" />

								<div class="col-md-10 p0">
									<input class="form-control form-cook" autocomplete="off" type="search" name="q" size="18" placeholder='Documentation Search' />
								</div>
								<div class="col-md-2 p0 search-cook">
									<button type="submit">
										<span class="glyph_range icon-submenu fa fa-search"></span>
									</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</section>
	</header>c9111e
	{# Responsive grey bar navigation. This is outside of header so it scrolls with the page. #}
	<section class="nav-btn visible-sm visible-xs">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-xs-12 text-center">
					<button id="btn-toc" class="btn btn-b btn-nav" data-toggle="modal" data-target="#modal"><strong>Table of Contents</strong></button>
				</div>
			</div>
		</div>
	</section>

	{# modal used in mobile responsive views #}
	<div id="modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal-header">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title-cookbook" id="modal-header">{# header text injected via js #}</h4>
				</div>
				<div class="modal-body">{# body is injected via js #}</div>
			</div>
		</div>
	</div>
{% endblock -%}

{%- block content %}
<div class="container page-container">

  {%- if 'index' in pagename and pagename != 'index' -%}
      <div id="improve-slideout">
  		<i class="fa fa-pencil icon-improve"></i>
  		<a href="https://gitlab.com/ukfast/docs.ukfast.co.uk/edit/master/source/{{ pagename }}.rst" target="_blank">
  			<div id="improve-slideout-inner"><h6>Improve This Doc <i class="fa fa-gitlab git-improve"></i></h6></div>
  		</a>
  	</div>
      {%- elif pagename != 'search' and pagename != 'index' -%}
        <div id="improve-slideout">
        <i class="fa fa-pencil icon-improve"></i>
        <a href="https://gitlab.com/ukfast/docs.ukfast.co.uk/edit/master/source/{{ pagename }}.md" target="_blank">
          <div id="improve-slideout-inner"><h6>Improve This Doc <i class="fa fa-gitlab git-improve"></i></h6></div>
        </a>
        </div>
  {%- endif -%}

	<a id="back-to-contents" href="#page-contents"><i class="fa fa-arrow-circle-up icon-improve" title="Back to Contents"></i></a>



	<div class="row">

  {## Grid layout on root index only ##}
  {%- if pagename == 'index' -%}

  <h1>Welcome to the UKFast documentation centre<a class="headerlink" href="#welcome-to-the-ukfast-documentation-centre" title="Permalink to this headline">¶</a></h1>
  <p>For help with UKFast products and services, and guidance with common hosting technology.</p>

  <div class="grid-container">
        {% set theTocTree = toctree()
        | replace("</a>", "")
        | replace(" href=\"", "></a>")
        | replace("</li>", "</li>;")
        | striptags
        | replace("\">", "%") %}
    {% set theTocTree = theTocTree.split(";") %}

    {% set open = 0 %}
    {% for element in theTocTree if element != "" %}
      {% set el = element.split("%") %}
      {% set url = el[0] | trim | safe %}
      {% set entry = el[1] | trim | safe %}
      {% if loop.index%3 == 0  and open != 1 %}
        <div class="row">
        {% set open = 1 %}
      {% endif %}
        <div class="grid-4">
          <a href="{{ url | replace('/index.html', '/') }}" class="box">
            <i class="fa fa-book"></i>
            <p>{{entry}}</p>
          </a>
        </div>
      {% if loop.index%3 == 0 and open == 1 %}
        </div>
        {% set open = 0 %}
      {% endif %}
    {% endfor %}
  </div>

  <p>You can help make this documentation better on GitLab.  Just click on the pencil icon on the right hand side of any page.</p>

    {%- else -%}

		<div class="col-sm-12 col-md-9 col-md-push-3 space-left push-off">
			<div class="document-body">
			{% block body %} {% endblock %}
			</div>
		</div>

		{%- endif -%}

		{# TOC sidebar #}
		<div class="col-md-3 col-md-pull-9 pull-off hidden-xs hidden-sm" lang="{{ language }}">
			{%- for sidebartemplate in sidebars %}
			<aside class="sidebar">
				<div class="mb30 row">
					{%- include sidebartemplate %}
				</div>
			</aside>
			{%- endfor %}
		</div>
	</div>
</div>
{% endblock -%}

{%- block footer %}
<section id="socials" class="back-3">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 social-footer text-center ">
				<a href="https://twitter.com/UKFast" data-toggle="tooltip" title="Twitter"><i class="fa icon-social fa-twitter"></i></a>
				<a href="https://www.facebook.com/UKFast.co.uk" data-toggle="tooltip" title="Facebook"><i class="fa icon-social fa-facebook"></i></a>
				<a href="https://plus.google.com/+ukfast/posts" data-toggle="tooltip" title="Google Plus"><i class="fa icon-social  fa-google-plus"></i></a>
				<a href="https://www.youtube.com/user/UKFast" data-toggle="tooltip" title="Youtube"><i class="fa icon-social fa-youtube-play"></i></a>
				<a href="https://www.linkedin.com/company/ukfast-ukfast-net-limited-" data-toggle="tooltip" title="LinkedIn"><i class="fa icon-social fa-linkedin"></i></a>
				<a href="https://www.ukfast.co.uk/press-releases/feed.rss" data-toggle="tooltip" title="RSS"><i class="fa icon-social fa-rss"></i></a>
			</div>
		</div>
	</div>
</section>

<footer id="footer" class="footer-wrapper">
	<div class="container">

		<div class="row col-p30">


			<div class="col-sm-12 col-md-12">
				<div class="col-md-3 col-sm-6 useful-links">
					<ul class="footer-menu">
						{% include 'menu/useful-links.html' %}
					</ul>
				</div>

				<div class="col-md-3 col-sm-6">
					<ul class="footer-menu">
						{% include 'menu/useful-links-cont.html' %}
					</ul>
				</div>

				<div class="col-md-3 col-sm-6">
					<ul class="footer-menu">
						{% include 'menu/getting-in-touch.html' %}
					</ul>
				</div>

				<div class="col-md-3 col-sm-6">
					<ul class="footer-menu">
						{% include 'menu/help.html' %}
					</ul>
				</div>
			</div>
		</div>

        <div class="accreditations clearfix row">
        	<ul>
        	    <li class="dell" title="Dell Hosting Partner">Dell</li>
        	    <li class="redhat" title="Redhat Hosting Partner">Redhat</li>
        	    <li class="vmware" title="VMWare Enterprise Service Provider">VMWare</li>
        	    <li class="microsoft" title="Microsoft Gold Certified Partner">Microsoft</li>
        	    <li class="cisco" title="CISCO Powered">Cisco</li>
        	    <li class="par" title="3Par Serving Information">3Par</li>
        	    <li class="lpi" title="LPI Approved Training Partner">LPI</li>
        	    <li class="pci" title="PCI Security Standards Council">PCI Security Standards Council</li>
        	    <li class="isoqar" title="ISOQAR Compliant">ISOQAR</li>
        	    <li class="bsi" title="BSI Carbon Neutral Certified">BSI</li>
        	</ul>
        	</div>

		<div class="row">
			<div class="col-md-12 text-center mt30">
				<p class="copyright">
					© UKFast.Net Ltd 1999 - 2017 UK's Best Dedicated Server Web Hosting | <a href="https://www.ukfast.co.uk/terms.html?tab=privacypolicy&#setupoption">Privacy Policy</a> | <a href="https://www.ukfast.co.uk/support.html">Support</a> | <a href="https://www.ukfast.co.uk/corporate-guidance.html">Corporate Guidance</a> | <a href="https://www.ukfast.co.uk/sitemap.html">Sitemap</a><br>UKFast.Net Limited, Registered in England, Company Registration Number 03845616, Registered Office: UKFast Campus, Birley Fields, Manchester, England, M15 5QJ
				</p>
			</div>
		</div>
	</div>
</footer>

<div id="inline-search-results"></div>

{# End of div[id=wrapper] #}
</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-296510-48', 'auto');
  ga('send', 'pageview');
</script>
{% endblock -%}
  </body>
</html>
